@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Inter;
  src: local("Inter"),
    url(assets/fonts/static/Inter-Regular.ttf) format("TrueType");
  font-weight: 400;
}

@font-face {
  font-family: Inter;
  src: local("Inter"),
    url(assets/fonts/static/Inter-Bold.ttf) format("TrueType");
  font-weight: 700;
}

@font-face {
  font-family: Inter;
  src: local("Inter"),
    url(assets/fonts/static/Inter-ExtraBold.ttf) format("TrueType");
  font-weight: 800;
}
